backports.entry-points-selectable
colorama
distlib
filelock
Flask
gunicorn
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
platformdirs
python-dateutil
pytz
six
virtualenv
Werkzeug
et-xmlfile
Flask
itsdangerous
joblib
MarkupSafe
openpyxl
pip
scikit-learn
scipy
setuptools
six
sklearn
threadpoolctl

